body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.08%,
    rgba(227, 255, 248, 0.38) 100%
  );

  min-height: 100vh;
}

.page {
  width: 1000px;

  margin: 0 auto;
  padding: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;

  font-family: 'Mulish', sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;

  display: flex;

  gap: 48px;
  margin: 0;
  padding: 0;

  font-family: 'Mulish', sans-serif;
}

ul li a {
  opacity: 0.5;
  transition: 0.8s;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

a {
  text-decoration: none;
  color: #1f1534;
}

ul,
h1 {
  font-family: 'Mulish', sans-serif;
}

h1 {
  font-size: 49px;
  font-weight: normal;

  line-height: 56px;

  color: #1f1534;

  width: 490px;
}

h1 span {
  color: #89c5cc;

  font-weight: bold;
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: #7d7987;

  margin: 40px 0;
}

button {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;

  background-color: #69b99d;
  color: #f9f9f9;

  border: 0;
  padding: 14px 32px 15px;
  gap: 10px;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.8s;
}

button:hover {
  background-color: #468b73;
}

footer {
  font-size: 14px;
  line-height: 28px;

  text-align: center;

  margin-top: 80px;
}

footer a {
  font-weight: bold;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
